In [ ]:
# to Run command, use short key "Shift +Enter"

print('python' , 'ali' , 'python' , sep=" ") # words are being seperated not because of comma , but there is a built in function of sep i.e seperate

python ali python

In [ ]:
print ('python') # command execution are started from new line it is because of built in function of end='\n'
print ( 123)
print ('zubair')

python
123
zubair

In [ ]:
print ('python' , end='\t') # escaping characters
print (123 , end='\t')
print ('zubair')

python	123	zubair

In [ ]:
# VARIABLE FOR STRING & VARIABLE FOR NUMBERS AND ARTHMETIC OPERATIONS
a = 10 
# here  a is variable (also called identifer) , = is the assigning operator , 10 si the value
# we read it like that 10 integer is assigning to variable 'a'
print (a)

a = 10.6 # here we have overwrite the value of a from 10 to 10.6 or from int to float
print (a) 
type (a)

10
10.6

float

In [ ]:
#concating (jorna)

In [ ]:
first_name = 'Ali'
Last_name = 'Ismail'
print(first_name + Last_name)

AliIsmail

In [ ]:
num1 = 100
num2 = 200
sum = num1 + num2
print (sum)

300

In [ ]:
print (100 + 200)

300

In [ ]:
aa = 100
bb = 10.5
cc = (aa) - (bb)
print(cc)

89.5

In [ ]:
a = 100
b = 100
c = a/b
print(c) # in python by default division is set float

1.0

In [ ]:
a = 100
b = 100
c = a//b # floor division , it discrad the fractional or decimal part
print(c) # integer division

1

In [ ]:
a = 100
b = 200
c = a//b # floor division , it discrad the fractional oe decimal part , does not make round off
print(c) # integer division
# here 0.5 , decimal  value is cut , so output is 0

0

In [ ]:
# in python '+ 'is not addition but concatenation sign (to join)
a = '25'
b = '10'
print (a + b)

2510

In [ ]:
# LOGICAL OPERATORS AND IF ELSE COMMAND
#Logical operators such as < ,> , => , =< =! 
# output of logical operators always be TRUE or FALSE
a = 100
b = 200
if a<b:  # returns true , 
# after colon (:) indent or block started i.e. \t
  print('a is less than b')
  print ( 'a has been executed')
print ('ali')
if b<a: # returns false , 
  print('b is less than a') # in false condition this block will not be executed
print ('bunty')

a is less than b
a has been executed
ali
bunty

In [ ]:
a = 200
b = 100
c = input (' type the number')
print (c)

 type the numberhhhh
hhhh

In [ ]:
# COMMENTS & INPUT COMMAND
#
#
#

#LIST (USE TO SAVE NUMBER OF VALUES IN A SINGLE VARIABLE)
#INDEX = POSITION
# IN A LIST , DIFFERNT DATA TYPES CAN BE ADDED , DENOTED BY [  ]
STUDENTS = ['ali' , 'Ismail', 'Hussain']
cities = ['khi' , 'lhe' , 'mux']
#        0   ,      1  ,    2
cities[1]

'lhe'

In [ ]:
#Adding members into list { APPEND AND INSERT}
# APPNED simpli add new member at the end of list and add only one value while 
# with the help of INSERT , you can add member at anywere by specifying an index number

cities = ['khi' , 'lhe' , 'mux']
cities.append('isb')
cities

['khi', 'lhe', 'mux', 'isb']

In [ ]:
A = [1,2,3,4,5] # ADDING TWO LISTS 
B = [6,7,8,9]
print(A + B)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
cities = ['khi', 'lhe', 'mux', 'isb'] # with insert we can add value at specified index
cities.insert(2,'uet')
cities

['khi', 'lhe', 'uet', 'mux', 'isb']

In [ ]:
cities = ['khi', 'uet', 'lhe', 'mux', 'isb']
# Extend is similar to append but cab be add more than one value , by using both small bracket and square bracket
cities.extend(['pew', 'BHW', 'khi', 'khi'])
cities

['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']

In [ ]:
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']
# Len function
len(cities)

9

In [ ]:
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']
# Count function
cities.count('khi')

3

In [ ]:
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']
# index function
cities[-3]

'BHW'

In [ ]:
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']
# index function
cities.index('pew')

5

In [ ]:
cities[5]

'pew'

In [ ]:
# REMOVE FUNCTION 
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']
cities.remove('uet') # remove requires value
cities # uet REMOVED

del cities[-1] # it requires index where del is a statement
cities

['khi', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi']

In [ ]:
# POP Function , it is also used to remove item from list , with this , we can store delete value in a variable i.e. newcity
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi']
newcity = cities.pop()
print(f"the city popped from the list is {newcity}")
print(f"remaining city list is {cities}")

the city popped from the list is khi
remaining city list is ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW']

In [ ]:
# POP Function , it is also used to remove item from list , with this , we can store delete value in a variable i.e. newcity
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW']
newcity = cities.pop()
print(f"the city popped from the list is {newcity}")
print(f"remaining city list is {cities}")

the city popped from the list is BHW
remaining city list is ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew']

In [ ]:
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW']
newcity = cities.pop(-1) # here in pop we can also give index of an item 
cities
newcity # in pop function item deleted and stored in new variable i.e. newcity

'BHW'

In [ ]:
cities.clear() # list completely cleared
cities

[]

In [ ]:
 # COPY          # by Value , its making new object thats why it is not linked or not making reference while edit
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']
cities2 = cities.copy()
cities

['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']

In [ ]:
cities3 = cities # by reference , not making seperate object but linking while edit
cities.append('newcity')
cities3

['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi', 'newcity']

In [ ]:
cities2

['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']

In [ ]:
# Sort function ASCENDING order
cities.sort()
cities

['BHW', 'isb', 'khi', 'khi', 'lhe', 'mux', 'pew']

In [ ]:
cities.sort(reverse=True) # Sort function DESCENDING order
cities

['pew', 'mux', 'lhe', 'khi', 'khi', 'isb', 'BHW']

In [ ]:
# REVERSE FUNCTION , simpli reverse the order without sorting
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']
cities.reverse()
cities

['khi', 'khi', 'BHW', 'pew', 'isb', 'mux', 'lhe', 'uet', 'khi']

In [ ]:
# SLICING 
#           0     1        2     3       4      5      6     7       8
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi' , 'khi']
#           -9    -8     -7    -6      -5     -4     -3     -2      -1

In [ ]:
cities[0 : -8]

['khi']

In [ ]:
cities[ : ]

['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']

In [ ]:
cities[0 : ]

['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi', 'khi']

In [ ]:
#cities [start : excluding] , index will always follow from left to right direction
cities[1 : 5]

['uet', 'lhe', 'mux', 'isb']

In [ ]:
cities[-4:-2]

['pew', 'BHW']

In [ ]:
cities[ : 5]

['khi', 'uet', 'lhe', 'mux', 'isb']

In [ ]:
cities[2 : -1]

['lhe', 'mux', 'isb', 'pew', 'BHW', 'khi']

In [ ]:
# STEP ( JUMP) PRACTICE IN SLICING [start : end : step]
nums = [1,2,3,3,4,5,6,7,8,9,10,11,12,13,17,18,19,20]
nums[0:10:2 ]

[1, 3, 4, 6, 8]

In [ ]:
nums [ : : 5]

[1, 5, 10, 18]

In [ ]:
# TUPLE (Same like list but immutable i.e. cannot be changed , del , edit or added items once excuted)
# tuple gives two functions count and index
#tuple can be used without bracket
a = 25 , 3
b = (22 , 25)

In [ ]:
print(type(a))
print(a)
print(type(b))
print(b)

<class 'tuple'>
(25, 3)
<class 'tuple'>
(22, 25)

In [ ]:
del a [1] # see tuple cannot be delete , it is immutable

TypeError: ignored

In [ ]:
a.append[77] # see tuple cannot be edit via new item addition   , it is immutable

AttributeError: ignored

In [ ]:
# FOR LOOP (USE FOR REPEATING TASK)
for a in range (5): # here range is used for how much time to repeat the action
  print( a ,'Ali') # a is variable starts from 0 , 1,2,3,4

0 Ali
1 Ali
2 Ali
3 Ali
4 Ali

In [ ]:
for number in range (10): # started from 0
  print (number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for number in range ( 1, 10): # started from 1
  print (number)

1
2
3
4
5
6
7
8
9

In [ ]:
for number in range ( 1, 10 , 2): # started from 1 with step 2
  print (number)

1
3
5
7
9

In [ ]:
# for reverse order 
for number in range ( 10, 1 , -2): # started from 10 with step 2
  print (number)

10
8
6
4
2

In [ ]:
# for loop using list
cities = ['khi', 'uet', 'lhe', 'mux', 'isb', 'pew', 'BHW', 'khi' , 'khi']
for city in cities:
  print (f' the city is under consideration {city}')

 the city is under consideration khi
 the city is under consideration uet
 the city is under consideration lhe
 the city is under consideration mux
 the city is under consideration isb
 the city is under consideration pew
 the city is under consideration BHW
 the city is under consideration khi
 the city is under consideration khi

In [ ]:
for number in [11,22,33,44,55]:
  print(number)

11
22
33
44
55

In [ ]:
country = 'PAKISTAN'
for chac in country:
  print(chac)

P
A
K
I
S
T
A
N

In [ ]:
country = 'PAKISTAN' , 'AMERICA'
for chac in country:
  print(chac)

PAKISTAN
AMERICA

In [ ]:
#FOR LOOPS BREAK AND CONTINUE (here continue means SKIP the VALUE)

for number in [5 ,7 , 11 ,90]:
  if number%2==0:
    break
  print(number)

5
7
11

In [ ]:
for num in range(10): 
  if num==7 or num==4: # number 4 and number 7 are skipped when using continue
    continue
  print(num)

0
1
2
3
5
6
8
9

In [ ]:
# Nested Loop i.e loop within loop 
for a in range (0 ,5):
  print('inner loop')
  for char in 'AMERICA':
    print (a, char)

inner loop
0 A
0 M
0 E
0 R
0 I
0 C
0 A
inner loop
1 A
1 M
1 E
1 R
1 I
1 C
1 A
inner loop
2 A
2 M
2 E
2 R
2 I
2 C
2 A
inner loop
3 A
3 M
3 E
3 R
3 I
3 C
3 A
inner loop
4 A
4 M
4 E
4 R
4 I
4 C
4 A

In [ ]:
tableNumber = int(input('Table Number'))
for table in range (1 , 11):
  print(f'{tableNumber} * {table} = {tableNumber*table}')

Table Number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
Tables = int(input('Enter range of tables')) # nested loop
for table in range (2 , Tables+1): 
  for num in range (1 , 11): 
    print(f'{table} * {num} = {table*num}')

Enter range of tables5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# TYPE CASTING (int to str or str to int) or convert one data type to another

Input_value = input('enter something')
type(Input_value)

enter something8

str

In [ ]:
Input_value = int(input('enter something')) # here we have type cast i.e. str changed into int
type(Input_value)

enter something8

int

In [ ]:
name = 'ALI Ismail' # CHANGING CASE
name.upper()

'ALI ISMAIL'

In [ ]:
name.title()

'Ali Ismail'

In [ ]:
name.lower()

'ali ismail'

In [ ]:
# DICTIONAIRES it is used to save values in pairs 
# represented by {}
# there is no indexing in dictionaries , search value on the basis of Keys
#myDict = {'key' : value , 'key': 'value'}
# Dictionary is used to Hold multiple values in  a single variable as like list or tuple 
#within variable , key always be difined in []
# same key does not repeat in a dictionary

In [ ]:
myDict = {'Name' : 'Ali Ismail' , 'Age' : 36 , 'status' : 'Married'}
len(myDict)

3

In [ ]:
# Adding new key (with value) in dictionary
myDict['email'] = 'xyz@gmail.com'
myDict

{'Age': 36,
 'Name': 'Ali Ismail',
 'email': 'xyz@gmail.com',
 'status': 'Married'}

In [ ]:
myDict['Name'] = 'Ali' # overwriting key value or updating key vlaue
myDict

{'Age': 36,
 'F.Name': 'Ismail',
 'Name': 'Ali',
 'email': 'xyz@gmail.com',
 'status': 'Married'}

In [ ]:
myDict['Name'] # print specfic value from dictionary , it is case sensitive

'Ali'

In [ ]:
NewDict = {1 : 'Ali' , 2 : 'Ismail' , 3 : 'Hussain'} # Int key numeric
NewDict[1]

'Ali'

In [ ]:
del NewDict[1]

In [ ]:
NewDict # key 1 has been deleted

{2: 'Ismail', 3: 'Hussain'}

In [ ]:
# to check key is present in dictionary
myDict = {'Name' : 'Ali Ismail' , 'Age' : 36 , 'status' : 'Married'}
NewDict = {1 : 'Ali' , 2 : 'Ismail' , 3 : 'Hussain'}
1 in NewDict

True

In [ ]:
'Name' in myDict

True

In [ ]:
# Iterate means loop
# Iterate for key , iterate for values , iterate for both key and value
myDict = {'Name' : 'Ali Ismail' , 'Age' : 36 , 'status' : 'Married'}
for key in myDict.keys(): # for keys
  print(key)

Name
Age
status

In [ ]:
for value in myDict.values(): # for values
  print(value)

Ali Ismail
36
Married

In [ ]:
for key, value in myDict.items(): # for both key and vlaues
  print(key,value)

Name Ali Ismail
Age 36
status Married

In [ ]:
# what we can store in dictionary ?
# it can add , str ,  int , tuple , list , dic etc.
#List that holds dictionary
# Creating a list where its members are dictionaries , means a list contains multiple dictionaries
data = []
data.append({'Name' : 'Ali Ismail' , 'Age' : 36 , 'status' : 'Married'})
data.append({'Name' : 'Zubair Waqar' , 'Age' : 36 , 'status' : 'Married'})
print(data) # two dictionaries are combined into single list

[{'Name': 'Ali Ismail', 'Age': 36, 'status': 'Married'}, {'Name': 'Zubair Waqar', 'Age': 36, 'status': 'Married'}]

In [ ]:

print(data [0] ['Name']) #Listname -position/index- key

Ali Ismail

In [ ]:
# Dictionary that  holds List (dictionary contains list)  i.e. reverse of list caontains dictionary 
dic = {1 : 'ALI' , 2 : 'zUBAIR', 3 : ['SANA' , 'ERUM']}
print(dic [3] [0]) # dictionary name - key -index/position

print(dic [3] [1])

SANA
ERUM

In [ ]:
# Dictionary that holds another dictionary as a value

In [2]:
weight = int(input("Enter your Weight(kg):"))
Height = int(input("Enter your Height (inch):"))
Height_meter_sq = (Height * 0.0254) **2
BMI = weight / Height_meter_sq # weight/height(sq.meter)
print("Your BMI is:", BMI)

if BMI <= 18 :
      print ("You are underweight !")
elif  BMI >=18 and BMI <24 :
      print ("Your weight is normal ! ")
else :
      print ("You are overweight ! ")

Enter your Weight(kg):65
Enter your Height (inch):67
Your BMI is: 22.44379627988483
Your weight is normal !